@model IEnumerable<FIT5032_IbrahimFinalProject.Models.Booking>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th scope="col">
                @Html.DisplayNameFor(model => model.BookingDate)
            </th>
            @if (User.IsInRole("Admin") || User.IsInRole("Staff"))
            {
                <th scope="col">
                    @Html.DisplayNameFor(model => model.Customer)
                </th>
            }
            @if (User.Identity.IsAuthenticated)
            {
                <th scope="col">Create, edit, delete</th>
            }
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr scope="row">
                <td>
                    @Html.DisplayFor(modelItem => item.BookingDate)
                </td>
                @if (User.IsInRole("Admin") || User.IsInRole("Staff"))
                {
                    <td>
                        @Html.DisplayFor(modelItem => item.Customer.ID)
                    </td>
                }
                @if (User.Identity.IsAuthenticated)
                {
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
                    </td>
                }
            </tr>
        }
    </tbody>
</table>

@section Scripts {
    <script>
        $(document).ready(function () {
            $('.table').DataTable();
        });
    </script>
    <script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.js"></script>
  }
<link rel="stylesheet" href="https://cdn.datatables.net/1.13.6/css/jquery.dataTables.css" />

